<!DOCTYPE html>
<html>
<head>
  <title>Elevennote</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container wrap">
  <div class="row">
    <div class="col-xs-12">
      <header>
        <div class="well">
          ElevenNote
          <div class="user-links">
            <% if current_user.present? -%>
              Signed in as <%= current_user.display_name %>.
              <%= link_to 'Logout', logout_path, method: :delete %>
            <% else -%>
              <%= link_to 'Sign Up', sign_up_path %> or
              <%= link_to 'Login', login_path %>
            <% end -%>
          </div>
        </div>
      </header>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <nav id="sidebar">
          <div class="well">
            SIDEBAR
          </div>
        </nav>
      </div>
      <div class="col-xs-8">
        <main>
          <div class="well">
            <!-- BEGIN main content -->
            <%= flash_messages %>
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

</body>
</html>
